<template>
  <b-container>
    <b-form-row>
      <b-col cols="4" offset-sm="3">
        <b-form-input ref="input" placeholder="Type in city, e.g. Prague"></b-form-input>
      </b-col>

      <b-col cols="1">
        <b-button variant="success" @click="validate">Search</b-button>
      </b-col>

      <b-col cols="1">
        <b-button variant="info" @click="getLocation">
          Place <b-icon style="width: 16px;" icon="geo-alt"></b-icon>
        </b-button>
      </b-col>
    </b-form-row>

    <b-form-row class="height">
      <b-col class="my-auto" cols="1" offset-sm="3">
        <b-icon :icon="city.icon" class="blue" style="width: 100%; height: auto;"></b-icon>
      </b-col>

      <b-col cols="3">
        <b-card class="text-left">
          <b-card-title>{{ city.name }}, {{ city.country }}</b-card-title>
          <b-card-sub-title>{{ city.description }}</b-card-sub-title>
          <b-card-text>
            <p class="h3">{{ city.temp }} °C</p>
          </b-card-text>
        </b-card>
      </b-col>

      <b-col cols="2">
        <b-card class="full-height text-left">
          <b-card-text class="h6 text-muted blue">
            <p>min. temp. <span class="fr">{{ city.tempMin }} °C</span></p>
            <p>max. temp. <span class="fr">{{ city.tempMax }} °C</span></p>
            <p>feel temp. <span class="fr">{{ city.tempFeel }} °C</span></p>
            <p>wind: <span class="fr">{{ city.wind }} m/s</span></p>
            <p>humidity: <span class="fr">{{ city.humidity }}%</span></p><b-progress :value="city.humidity" max="100" class="progress"></b-progress>
          </b-card-text>
        </b-card>
      </b-col>
    </b-form-row>
  </b-container>
</template>

<script lang="ts">
import { ref, reactive } from '@vue/composition-api'
import axios from 'axios'
import Noty from 'noty'

export default {
  setup () {
    const apiKey = process.env.VUE_APP_APIKEY
    const input = ref('')
    const baseURL = `https://api.openweathermap.org/data/2.5/weather?appid=${apiKey}&units=metric&`

    const city = reactive({
      name: 'City',
      country: 'Country',
      description: 'Description',
      temp: 0,
      tempMin: 0,
      tempMax: 0,
      tempFeel: 0,
      humidity: 0,
      wind: 0,
      icon: 'cloud'
    })

    const icons = reactive({
      Clear: 'brightness-high',
      Clouds: 'cloud',
      Mist: 'list-nested',
      Rain: 'cloud-download',
      Thunderstorm: 'lightning'
    })

    function getIcon (icon: string): string {
      return icons[icon]
    }

    function getCurrent (url: string) {
      axios
        .get(url)
        .then(function (response) {
          city.name = response.data.name
          city.country = response.data.sys.country
          city.description = response.data.weather[0].description
          city.temp = Math.round(response.data.main.temp)
          city.tempMin = Math.round(response.data.main.temp_min)
          city.tempMax = Math.round(response.data.main.temp_max)
          city.tempFeel = Math.round(response.data.main.feels_like)
          city.humidity = response.data.main.humidity
          city.wind = Math.round(response.data.wind.speed)
          city.icon = getIcon(response.data.weather[0].main)
          input.value.localValue = response.data.name
        })
        .catch(function () {
          new Noty({
            theme: 'relax',
            type: 'error',
            text: 'We are sorry! Either our server is down or the provided city can\'t be found in our database.',
            timeout: 3000
          }).show()
        })
    }

    function validate () {
      if (input.value.localValue.length < 3) {
        new Noty({
          theme: 'relax',
          type: 'warning',
          text: 'Wrong input. Please enter at least 3 letters.',
          timeout: 3000
        }).show()
      } else {
        getCurrent(baseURL + `q=${input.value.localValue}`)
      }
    }

    function getLocation () {
      if (!('geolocation' in navigator)) {
        new Noty({
          theme: 'relax',
          type: 'error',
          text: 'We are sorry! Geolocation is not available.',
          timeout: 3000
        }).show()
      } else {
        navigator.geolocation.getCurrentPosition(function (position) {
          getCurrent(baseURL + `lat=${position.coords.latitude}&lon=${position.coords.longitude}`)
        }, function () {
          new Noty({
            theme: 'relax',
            type: 'error',
            text: 'We are sorry! We couldn\'t get your position.',
            timeout: 3000
          }).show()
        })
      }
    }

    return {
      input,
      city,
      validate,
      getLocation
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.height {
  height: 145px;
}

.full-height {
  height: 100%;
}
.h6 > p {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
}

.fr {
  float: right;
}

.card {
  border: none;
  background-color: transparent;
}

.card-title, .card-subtitle {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.progress {
  height: 5px;
  margin-top: 2px;
}

.blue, .blue > p {
  color: #0077b3;
}

input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
}

button {
  width: 100%;
  padding: 0.375rem 0;
}
</style>
